*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/gradle
/proguard_rules.pro
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/app/build
/app/libs/
/app/build.gradle
/app/src/androidTest
/app/src/main/res
/app/src/main/AndroidManifest.xml
/app/proguard-rules.pro
/app/src/test/java/ru/skillbranch/kotlinexample/
/.idea/
